body {
    font-family: Nunito Sans, Roboto, Helvetica Neue, sans-serif;
    text-align: justify;
}

.chart {
    width: 100%;
    max-width: 600px;
}

h1, h3 {
    text-align: center;
}
.chart {
    display: block;
    margin: 0 auto 0 auto;
}
