<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Commodities Chart</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<body>
<canvas id="btcChart" style="width:100%;max-width:600px" title="BTC"></canvas>
<canvas id="goldChart" style="width:100%;max-width:600px" title="Gold (per ounce)"></canvas>
<canvas id="oilChart" style="width:100%;max-width:600px" title="Oil Brent Crude"></canvas>
<script th:inline="javascript">
    var xValues = [[${daysList}]];

    new Chart("btcChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                data: [[${btcList}]],
                borderColor: "red",
                fill: false
            }]
        },
        options: {
            legend: {display: false}
        }
    });

    new Chart("goldChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                data: [[${goldList}]],
                borderColor: "green",
                fill: false
            }]
        },
        options: {
            legend: {display: false}
        }
    });

    new Chart("oilChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                data: [[${oilList}]],
                borderColor: "blue",
                fill: false
            }]
        },
        options: {
            legend: {display: false}
        }
    });
</script>
</body>
</html>
